# .gitignore для проекта bookmark с Rails API и React

# RAILS-API
# Системные файлы
.DS_Store
Thumbs.db

# Логи
rails_api/log/*
rails_api/*.log

# Базы данных
rails_api/db/*.sqlite3
rails_api/db/*.sqlite3-journal

# Среда разработки
*.swp
*.swo

# Файлы настроек для среды разработки
rails_api/config/database.yml
rails_api/config/secrets.yml
rails_api/config/credentials.yml.enc

# Master key для Rails
rails_api/config/master.key

# Схема базы данных
rails_api/db/schema.rb

# Папка с данными сессий
rails_api/tmp/

# Папка с кэшированными данными
rails_api/public/assets/
rails_api/public/packs/

# Папка для Active Storage
rails_api/storage/

# Зависимости
rails_api/vendor/bundle/
rails_api/node_modules/

# Папки с зависимостями
rails_api/node_modules/
rails_api/yarn-error.log

# Системы тестирования
rails_api/coverage/
rails_api/spec/reports/
rails_api/test/tmp/

# Прочее
rails_api/.byebug_history

# REACT
# Logs
react/logs
react/*.log
react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*
react/pnpm-debug.log*
react/lerna-debug.log*

react/node_modules
react/dist
react/dist-ssr
react/*.local

# Editor directories and files
react/.vscode/*
react/!.vscode/extensions.json
react/.idea
react/.DS_Store
react/*.suo
react/*.ntvs*
react/*.njsproj
react/*.sln
react/*.sw?