@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  background: linear-gradient(#151b22, #2f3376);
  /* background: url(/5002f19b145911f08a0ec69e8a5adaee_1.jpeg) no-repeat; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', Arial;
}
