@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  background: url(../src/assets/body.svg) no-repeat bottom/cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', Arial;
}
